@model Vaquinha.App.Models.DonationViewModel

@{
    ViewData["Title"] = "Doar agora";
}


<form asp-action="Create" asp-controller="Donations" method="post">

    <div class="text-center">
        <h2>Doe agora</h2>

        <hr />
        <center>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" id="value" placeholder="Valor doação" class="form-control" />
                </div>
            </div>
            <hr />
        </center>

    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <fieldset>
                <legend>Dados Pessoais</legend>

                <div class="form-group">
                    <input asp-for="PersonalData.Name" placeholder="Nome Completo" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="PersonalData.Email" placeholder="Email" class="form-control" />
                </div>

                <div class="form-group">
                    <textarea asp-for="PersonalData.Message" class="form-control" rows="3" maxlength="200"
                              placeholder="Deixa aqui uma mensagem de apoio" data-val="true"></textarea>
                </div>

                <div class="form-group float-right">
                    <label asp-for="PersonalData.Anonymous" class="control-label"></label>
                    <input asp-for="PersonalData.Anonymous" />
                </div>

            </fieldset>
        </div>
        <div class="col-md-5">

            <fieldset>
                <legend>Endereço de Cobrança</legend>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input asp-for="BillingAddress.Address" maxlength="100" placeholder="Endereço" class="form-control small" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input asp-for="BillingAddress.Number" placeholder="Número" class="form-control small" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input asp-for="BillingAddress.City" placeholder="Cidade" class="form-control small" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input asp-for="BillingAddress.State" placeholder="Estado" id="state" class="form-control small" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input asp-for="BillingAddress.ZipCode" id="zipCode" placeholder="CEP" class="form-control small" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input asp-for="BillingAddress.Complement" placeholder="Complemento" class="form-control small" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="BillingAddress.Phone" id="phone" placeholder="Telefone" class="form-control small" />
                </div>

            </fieldset>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6 text-center">

            <fieldset>
                <legend>Dados para pagamento</legend>
                <div class="form-group">
                    <input asp-for="FormOfPayment.HolderName" placeholder="Nome do Titular" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="FormOfPayment.CreditCardNumber" id="creditCardNumber" placeholder="Numero do Cartão" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="FormOfPayment.Validity" id="validity" placeholder="Data de validade" class="form-control small" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="FormOfPayment.CVV" id="cvv" placeholder="CVV" class="form-control small" />
                        </div>
                    </div>
                </div>

            </fieldset>

        </div>
        <div class="col-md-3 text-center"></div>
    </div>


    <div class="text-center">
        <div class="form-group">
            <input type="submit" value="Doar" class="btn btn-yellow" />
        </div>
    </div>

</form>